<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asistente de Inventarios</title>
    <link rel="stylesheet" href="./css/login.css" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap" rel="stylesheet">
</head>
<script>


</script>
<body>
    <div class="content d-flex align-items-md-center">
        <span>
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand d-flex justify-content-between align-items-md-center" href="/index">
                        <img src="./assets/logo_transparent.png" alt="" width="50"
                            height="50" class="d-inline-block align-text-top" />
                        Asistente de inventarios
                    </a>
                </div>
            </nav>
            <hr class="dropdown-divider" />
            <div class="row">
                <form action="/index">
                    <div class="form-group mt-4" id="correo">
                      <label for="exampleInputEmail1">Email address</label>
                     <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    
                    <div class="form-group mt-4">
                      <label for="exampleInputPassword1 mt-4">Password</label>
                      <input type="password" pattern=".{6,}" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                   
                    <button type="submit" class="btn btn-primary mt-4 w-100">Ingreso</button>
                  </form>
                   
            </div>
        </span>
    </div>
</body>

</html>