<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asistente de Inventarios</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand d-flex justify-content-between align-items-md-center" href="/index">
                Asistente de inventarios
            </a>
            <button type="button" class="btn btn-outline-danger">Cerrar sesión</button>
        </div>
    </nav>
    <hr class="dropdown-divider" />
    <div class="content">
        <ul class="nav flex-column sidebar">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/index">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bodegas">Bodegas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clientes">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/empleados">Empleados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movimientos">Movimientos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/productos">Productos</a>
            </li>
        </ul>
        <div class="work-area">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/productos">Listado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/productos/form">Crear nuevo</a>
                </li>
            </ul>
            
            <form action="#" th:action="@{/productos/create}" th:object="${producto}" method="post">
                <input type="text" th:field="*{id}" hidden/>
                <div class="form-group mt-3">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" 
                        placeholder="Ingrese la descripción del producto" th:field="*{descripcion}"/>
                </div>
                <div class="form-group mt-3">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control" id="precio" 
                           placeholder="Ingrese el precio del producto" th:field="*{defaultPrecio}">
                </div>
                
                <div class="form-group mt-3">
                    <label for="costo">Costo</label>
                    <input type="number" class="form-control" id="costo" 
                           placeholder="Ingrese el costo del producto" th:field="*{defaultCosto}">
                </div>
                
<!--                <div class="form-group mt-3">
                    <label for="bodega">Bodega</label>
                    <select id="bodega" class="form-control" th:field="*{bodegaId}">
                        <option 
                          th:each="empleado : ${empleadosSelect}" 
                          th:value="${empleado.id}" 
                          th:text="${empleado.val}"
                        />
                    </select>
                </div>-->

                <button type="submit" class="btn btn-primary mt-3">Guardar</button>
            </form>

            <div class="border p-3 mt-3">
                
                <form class="d-flex justify-content-between" th:action="@{/productos/detalle/create/} + ${{producto.Id}}" th:object="${descripcion}" method="post">
                    <input type="text" th:field="*{id}" hidden/>
                    <div class="form-group mb-2">
                        <label for="name-desc" class="sr-only">Nombre del detalle</label>
                        <input type="text" class="form-control" id="name-desc" placeholder="Ingrese el nombre de la descripción"
                               th:field="*{llave}"/>
                    </div>
                    <div class="form-group mb-2">
                        <label for="det-desc" class="sr-only">Descripción del detalle</label>
                        <input type="text" class="form-control" id="det-desc" placeholder="Ingrese el detalle de la descripción"
                               th:field="*{valor}"/>
                    </div>
                    
                    <div class="d-flex align-items-end">
                        <button type="submit" class="btn btn-primary mb-2">Guardar detalle</button>
                    </div>
                </form>
                
                

                <div class="table-responsive-md">
                    <table class="table w-100">
                        <tr>
                            <th>Nombre del detalle</th>
                            <th>Descripción del detalle</th>
                        </tr>
                        <tr th:each="descripcion: ${descripciones}">
                            <td th:text="${descripcion.llave}"/>
                            <td th:text="${descripcion.valor}"/>               
                            <td>
                                <form action="#" th:action="@{/productos/detalle/delete/} + ${{descripcion.id}} + @{/} + ${{descripcion.productoId}}" method="get">
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Eliminar</button>
                                </form>   
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</body>

</html>